@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<a class="btn btn-success" href="/Home/Playground">Playground!</a>
	<p>
		Learn about!!!! :0) --

	</p>
	<p>
		Dude: <a
				 kind="Danger"
			   tooltip="Howdy!"
			   pup-focus="true"
			   href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
	</p>
</div>
